name: Conditional Workflow

on:
  push:
    branches:
      - master

jobs:
  conditional-job:
    runs-on: ubuntu-latest
    if: github.repository == 'explorer-2002/TinyLink'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run conditional task
        run: echo "Workflow executed!"