name: Conditional Workflow

on:
  push:
    branches:
      - main

jobs:
  conditional-job:
    runs-on: ubuntu-latest
    if: github.event.head_commit.message contains '[run-workflow]'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run conditional task
        run: echo "Workflow executed!"