on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  run-on-push:
    runs-on: ubuntu-latest
    steps: 
      - name: "Echo Basic Information"
        run: |
          echo "REF: $GITHUB_REF",
          echo "JOB_ID: $GITHUB_JOB",
          echo "ACTION: $GITHUB_ACTION",
          echo "ACTOR: $GITHUB_ACTOR"